[user]
	email = ?
	name = Wim R. Crols

[alias]
	st = status
	s = status
	low = log --color --graph --pretty=format:'%C(bold red)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    l = log --color --graph --pretty=format:'%C(bold red)%h%Creset -%C(bold yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    unstage = reset HEAD --
[rebase]
	autosquash = true

# Red is a bit too hard to see on the black Powershell background
[color "status"]
	changed = bold red
	untracked = bold red
[push]
	default = current
